<div class="container p-3 my-3 border">
  <h1>Cocktails list:</h1>
  <p>Here you can click the "Cocktail's Name" to add a dosage or the "Delete button" to delete it!</p>


  <br>

  <ul>
      <% @cocktails.each do |cocktail| %>
        <li><%= link_to cocktail.name, cocktail_path(cocktail) %>
        <%= link_to "-Delete-", cocktail_path(cocktail), method: :delete, class: "card-remove-link"%>
        </li>
      <% end %>
  </ul>

  <br>

  <%=link_to "Click here to create a new cocktail", new_cocktail_path %>
</div>